{% extends "registrasion/base.html" %}
{% load bootstrap %}
{% load lca2017_tags %}

{% block header_title %}Buy Your Ticket{% endblock %}
{% block header_paragraph %}Step {{ current_step }} of {{ total_steps|add:1 }} &ndash; {{ title }} {% endblock %}
{% block header_inset_image %}{% illustration "tuz.svg" %}{% endblock %}

{% block scripts_extra %}
  {% for section in sections %}
    {{ section.form.media.js }}
  {% endfor %}
{% endblock %}

{% block content %}

  <form method="post" action="">
    {% csrf_token %}

    {% for section in sections %}
      <h3>{{ section.title }}</h3>

      <fieldset>
        {% if section.description %}
          <p>{{ section.description }}</p>
        {% endif %}

        {% if section.discounts %}
          <h4>Discounts (will be applied when you check out):</h4>
          {% include "registrasion/discount_list.html" with discounts=section.discounts %}
        {% endif %}

        {% include "_form_snippet.html" with form=section.form %}
      </fieldset>

      <br />
    {% endfor %}

    <div class="btn-group">
      <input class="btn btn-primary" type="submit" value="Next Step" />
    </div>
  </form>


{% endblock %}
