{% extends "registrasion/base.html" %}
{% load bootstrap %}
{% load lca2017_tags %}

{% block header_title %}Buy Your Ticket{% endblock %}
{% block header_paragraph %}Step {{ current_step }} of {{ total_steps|add:1 }}{% endblock %}
{% block header_inset_image %}{% illustration "tuz.svg" %}{% endblock %}


{% block content %}

  <h2>{{ title }}</h2>

  <form method="post" action="">
    {% csrf_token %}

    {% for section in sections %}
      <h3>{{ section.title }}</h3>

      {% if section.description %}
        <p>{{ section.description }}</p>
      {% endif %}

      {% if section.discounts %}
        <p>You have the following discounts available to you:</p>
        {% include "registrasion/discount_list.html" with discounts=section.discounts %}
      {% endif %}

      <fieldset>
        {{ section.form|bootstrap }}
      </fieldset>

      <br />
    {% endfor %}

    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Next" />
    </div>
  </form>


{% endblock %}
