    <h4>
      {{ proposal.title }}
    </h4>

    <ul>
      <li><strong>Type:</strong> {{ proposal.kind.name }}</li>
      <li>
        <strong>Status:</strong>
        {% if proposal.cancelled %}
            <span class="label label-danger">Cancelled</span>
        {% else %}
            <span class="label label-default">Review pending</span>
        {% endif %}
      </li>
  </ul>

  <div class="btn-group">
    <a href="{% url "proposal_detail" proposal.pk %}" class="btn btn__compact">View details</a>
    {% if not proposal.cancelled %}
      {% if request.user == proposal.speaker.user and proposal.can_edit %}
        <a href="{% url "proposal_edit" proposal.pk %}" class="btn btn__compact">Edit</a>
      {% endif %}
  {% endif %}
  </div>

  <br/>
