{% load i18n %}
{% load pyconau2017_tags %}

    <h4>{% trans "Submitted by" %}</h4>
    <p>{{ proposal.speaker }} &lt;{{ proposal.speaker.email }}&gt;</p>

    <h4>{% trans "Proposal Type" %}</h4>
    <p>{{ proposal.kind.name|capfirst }}</p>

    <h4>{% trans "Target Audience" %}</h4>
    <p>{{ proposal.get_target_audience_display }}&nbsp;</p>

    <h4>{% trans "Conference Areas" %}</h4>
    <ul>
      {% for area in proposal.area.all %}
      <li>{{ area.name }}</li>
      {% endfor %}
    </ul>

    <h4>{% trans "Proposal length" %}</h4>
    <p>{{ proposal.get_length_display }}</p>

    <h4>{% trans "Abstract" %}</h4>
    <div class="abstract">{{ proposal.abstract_html|safe }}&nbsp;</div>

    <h4>{% trans "Private Abstract" %}</h4>
    <div class="private_abstract">{{ proposal.private_abstract_html|safe }}&nbsp;</div>

    <h4>{% trans "Project" %}</h4>
    <p>{{ proposal.project|safe }}&nbsp;</p>

    <h4>{% trans "Project URL" %}</h4>
    <p><a href="{{ proposal.project_url|safe }}">{{ proposal.project_url|safe }}</a>&nbsp;</p>

    <h4>{% trans "Video URL" %}</h4>
    <p><a href="{{ proposal.video_url|safe }}">{{ proposal.video_url|safe }}</a>&nbsp;</p>

    <h4>{% trans "Special Requirements" %}</h4>
    <div class="special_requirements">{{ proposal.technical_requirements_html|safe }}</div>

    {% for speaker in proposal.speakers %}
      <h4>{% trans "Speaker:" %} {{ speaker.name }}</h4>
      <h5>{% trans "Biography" %}</h5>

      <div class="biography">{{ speaker.biography_html|safe }}&nbsp;</div>

      <h5>{% trans "Experience" %}</h5>
      <div class="biography">{{ speaker.experience_html|safe }}&nbsp;</div>
    {% endfor %}

    {% can_manage proposal as can_manage_proposal %}
    {% if can_manage_proposal or request.user.speaker_profile in proposal.speakers %}

      <h4>{% trans "Assistance required?" %}</h4>
      <br />
      <table>
        <tr>
          <th></th>
          <th>{% trans "Travel" %}</th>
          <th>{% trans "Accommodation" %}</th>
        </tr>
        {% for speaker in proposal.speakers %}
          <tr>
            <td>{{ speaker.name }}</td>
            <td>{{ speaker.travel_assistance }}</td>
            <td>{{ speaker.accommodation_assistance }}</td>
          </tr>
        {% endfor %}
      </table>
      <br />

      {% if proposal.speaker.accessibility_html %}
        <h4>{% trans "Speaker Accessibility Requirements" %}</h4>
        {% for speaker in proposal.speakers %}
          {% if speaker.accessibility_html %}
            <h5>{{ speaker.name }}</h5>
            <div class="biography">{{ speaker.accessibility_html|safe }}&nbsp;</div>
          {% endif %}
        {% endfor %}
      {% endif %}

    {% endif %}


    <h4>{% trans "Documents" %}</h4>
    <div>
        {% if proposal.supporting_documents.exists %}
            <table class="table table-striped">
                {% for document in proposal.supporting_documents.all %}
                    <tr>
                        <td><a href="{{ document.download_url }}">{{ document.description }}</a></td>
                        <td>
                        <form style="margin: 0;" method="post" action="{% url "proposal_document_delete" document.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-xs">delete</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No supporting documents attached to this proposal.</p>
        {% endif %}
    </div>

    <h4>{% trans "Recording Release" %}</h4>
    <p>{{ proposal.recording_release }}&nbsp;</p>

    <h4>{% trans "Materials Release" %}</h4>
    <p>{{ proposal.materials_release }}&nbsp;</p>
