# DJANGO: Should use latest 1.11 for security
django>=1.11
django-user-accounts
django-countries
django-timezone-field
django-sitetree
django-formset-js
django-debug-toolbar
django-markdownify
django-model-utils
dj-static
dj-database-url


# Pinax
pinax-theme-bootstrap
pinax-eventlog
pinax-boxes

# database
psycopg2

#Wiki
wiki

# Misc supporting packages ...
metron
wagtail
pylibmc
raven
bleach
html5lib
lxml
easy-thumbnails
pillow

# Make sure we have the latest / greatest of these ...

# For testing
django-nose
coverage

# Registrasion + Symposion
# Install via pip repo cloned locally

-e git+https://github.com/pyconau2017/symposion.git@master#egg=symposion
-e git+https://github.com/pyconau2017/registrasion.git@master#egg=registrasion
-e git+https://github.com/pyconau2017/registrasion-stripe.git@master#egg=registrasion-stripe
