# DJANGO: Should use latest 1.11 for security
django>=1.11.1
django-user-accounts>=2.0.3
django-countries>=4.6
django-timezone-field>=2.0.0
django-sitetree>=1.8.0
django-formset-js>=0.5.0
django-debug-toolbar>=1.8
django-markdownify>=0.2.0
django-model-utils>=3.0.0
dj-static>=0.0.6
dj-database-url>=0.4.2


# Pinax
pinax-theme-bootstrap==8.0.1
pinax-eventlog==1.1.2
pinax-boxes==2.1.2
pinax-stripe==3.2.1

# database
psycopg2==2.7.3

#Wiki
wiki=0.2.4

# Misc supporting packages ...
metron==1.3.7
wagtail==1.11.1
pylibmc==1.5.2
raven==6.1.0
bleach==2.0.0
html5lib==0.999999999
lxml==3.8.0
easy-thumbnails==2.4.1
Pillow==4.2.1

# Make sure we have the latest / greatest of these ...

# For testing
django-nose==1.4.4
coverage==4.4.1

# Registrasion + Symposion
# Install via pip repo cloned locally

-e git+https://github.com/pyconau2017/symposion.git@master#egg=symposion
-e git+https://github.com/pyconau2017/registrasion.git@master#egg=registrasion
-e git+https://github.com/pyconau2017/registrasion-stripe.git@master#egg=registrasion-stripe
==