<div id="pyconau-news" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
  {% for i, item in items %}
    {% if i == 0 %}
    <li data-target="#pyconau-news" data-slide-to="{{ i }}" class="active"></li>
    {% else %}
    <li data-target="#pyconau-news" data-slide-to="{{ i }}"</li>
   {% endif %}
  {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  {% for i, item in items %}
    {% if i == 0 %}
    <div class="item active">
    {% else %}
    <div class="item">
    {% endif %}
      <b>{{ item.date }}</b>
      <ul>
        {{ item.intro }}
        <p/>
        <a href="{{ item.url }}" title="{{ item.intro }}">Read more ...</a>
      </ul>
    </div>
  {% endfor %}
  </div>

  <!-- Left and right controls -->
  {% comment %}
  <a class="left carousel-control" href="#pyconau-news" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  {% endcomment %}
  <a class="right carousel-control" href="#pyconau-news" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div> <!-- pyconau-news carousel -->