{% extends "pyconau2017/content_page.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pyconau2017_tags %}

{% load sitetree %}
{% load i18n %}

{% block body_class %}template-content-page{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% if page.background_image %}
  {% block header_background_image %}{% image page.background_image width-2000 as background_image %}{{ background_image.url }}{% endblock %}
{% endif %}
{% block header_title %}{{ page.title }}{% endblock %}
{% block header_paragraph %}{{ page.intro }}{% endblock %}
{% block header_inset_image %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1">xxx</div>
        <div class="col-md-10" >
            <div id="announcements" class="jumbotron-white">
    {{ page.body }}
            </div>
        </div>
        <div class="col-md-1">
            <div id="sponsors" class="wrapper jumbotron-white">
                <h4>Sponsors</h4>
                {% include "symposion/sponsorship/_wall.html" %}
            </div>
        </div> 
    </div>
</div>
{% endblock %}
