{% load staticfiles %}
{% load wagtailimages_tags %}

  <div class="panel panel__compact panel__bg">
  {% if page.background_image %}
    {% image page.background_image width-2000 as background_image %}
    <div style="background-image: url('{{ background_image.url }}');" class="panel--bg"></div>
  {% else %}
    <div class="panel--bg"></div>
  {% endif %}
  <div class="panel--content">
    <div class="panel--2-3">
      <h2>{{ page.title }}</h2>
      <p class="lede">{{ page.intro }}</p>
    </div>
    {% if page.inset_illustration or page.portrait_image %}
      <div class="panel--1-3">
          {% if page.inset_illustration %}
          <div class="illustration">
            <img
            src="{% static 'lca2017/images/svgs/illustrations/' %}{{ page.inset_illustration }}"
            />
          </div>
        {% elif page.portrait_image %}
          <div class="portrait">
            {% image page.portrait_image width-640 as portrait_image %}
            <div style="background-image: url('{{ portrait_image.url }}');" class="portrait--img"></div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
