{% extends "cms_pages/abstract_content_page.html" %}

{% load pyconau2017_tags %}

{% block body_class %}template-news-index{% endblock %}

{% block page_content %}
  {% if page.child_pages %}
    {% for item in page.child_pages %}
        <h2>{{ item.title }}</h2>
        <p class="lede"><em>{{ item.date|date:"j F Y" }}</em> – {{ item.intro }}</p>
        <a href="{{ item.url }}" class="btn">Read more</a>
    {% endfor %}
    <div class="panel panel__compact"></div>
  {% endif %}

  <h3>Subscribe</h3>
  <p><a class="btn" href="rss">View as RSS</a></p>
{% endblock %}
