body {
  /* Unfortunately, we can't use django tags in here.  So, we'll pull the bg image in from within the body tag itself */
  /* background: url({% static 'pyconau2017/images/pyconau-2016-collage.jpg' %}) no-repeat center center fixed; */
  background: no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 14px;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.jumbotron {
    background-color: rgba(0,0,0,0.9);
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

@font-face {
    font-family: 'Flux Regular';
    src: url('fonts/FLUXRegular.ttf');
}

.jumbotron h1 {
    font-size: 3em;
    font-family: 'Flux Regular';
    background-color: #000;
}

#announcements {
    background-color: rgba(0,0,0,0.9);
    color: white;
    border-radius: 6px;
    padding: 2em;
    margin-top: 60px;
    margin-bottom: 60px;
}
#announcements h2 {
    font-size: 2em;
    font-family: 'Flux Regular';
    color: white;
}
