{% extends "site_base.html" %}
{% load staticfiles %}
{% block extra_style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/site-0a247b924d.css' %}">
{% endblock %}
{% block body_base %}
    <div style="height: 100px;" />
    <main role="main">
    {% include "_messages.html" %}
    {% block body %}
      {% block content %}
      {% endblock %}
    {% endblock %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'pyconau2017/js/app.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        {% include "_scripts.html" %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
{% block analytics %}
	{% include "analytics.html" %}
{% endblock %}
    {% block extra_body %}{% endblock %}
{% endblock %}
  </body>
</html>
