{% extends "symposion/schedule/public_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}
{% load cache %}
{% load lca2017_tags %}

{% block head_title %}Conference Schedule{% endblock %}
{% block header_title %}Conference Schedule{% endblock %}
{% block header_paragraph %}{% header_paragraph "conference_schedule" %}{% endblock %}
{% block header_inset_image %}{% illustration "cradle.svg" %}{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block content_base %}

  <div class="page-head">
    {% block breadcrumbs %}{% endblock %}
  </div>

  <div class="panel panel__compact">
    <div class="panel--content">

      <div class="panel--tab-controls">
        <div class="panel--tabs">
          {% for section in sections %}
            {% for timetable in section.days %}
              {% if day_switch == None %}
              <a data-tab-control="{{ timetable.day.date|date:"l"}}" class="panel--tab-switch {% if forloop.first and forloop.parentloop.first %}is-active{% endif %}">{{ timetable.day.date|date:"l"}}</a>
              {% else %}
              <a data-tab-control="{{ timetable.day.date|date:"l"}}" class="panel--tab-switch {% if timetable.day.date|date:"l"|lower == day_switch|lower %}is-active{% endif %}">{{ timetable.day.date|date:"l"}}</a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      {% for section in sections %}
        {% cache 600 "schedule-table" section.schedule.section %}
            {% for timetable in section.days %}
              <div data-tab-content="{{ timetable.day.date|date:"l"}}" class="panel--tab-content {% if timetable.day.date|date:"l"|lower == day_switch|lower %}is-active{% endif %}">
                <h3>{{ section.schedule.section.name }} — {{ timetable.day.date|date:"l" }}, {{ timetable.day.date }}</h3>
                {% include "symposion/schedule/_grid.html" %}
              </div>
            {% endfor %}
         {% endcache %}
      {% endfor %}

    </div>
  </div>
{% endblock %}
