{% extends "utility_page.html" %}

{% load i18n %}
{% load cache %}
{% load sitetree %}

{% block head_title %}Presentation Listing{% endblock %}
{% block page_title %}{{ schedule.section.name }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block utility_body %}
    {% cache 600 "aaasdsdfschedule-list" schedule.section.name %}
      <ul>
        {% for presentation in presentations %}
            <li>
              <a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a> <em>by</em>
              {{ presentation.speakers|join:", " }}
              {% if presentation.slot %}
                ({{ presentation.slot.day.date|date:"l" }}
                {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                in
                {{ presentation.slot.rooms|join:", " }})
              {% endif %}
            </li>
        {% endfor %}
    {% endcache %}
{% endblock %}
