{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image value.profile_image width-800 as profile_image %}
<div class="panel panel__compact {% if forloop.first %}panel__first{% endif %} {% if forloop.last %}panel__last{% endif %}">
  <div class="panel--content">
    <div class="panel--1-3">
      <div class="portrait">
        <div style="background-image: url('{{ profile_image.url }}');" class="portrait--img"></div>
      </div>
    </div>
    <div class="panel--2-3">
      <h3>{{ value.name }}</h3>

      {{ value.body }}

      <div class="btn-group">
        <a href="{% url "schedule_presentation_detail" value.presentation.id %}" class="btn">Read more</a>
        {% for link in value.links %}
          {{ link }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
