{% extends "utility_page.html" %}
{% load staticfiles %}
{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}
{% load teams_tags %}
{% load registrasion_tags %}
{% load pyconau2017_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}


{% block head_title %}Dashboard{% endblock %}


{% block content %}

<div class="jumbotron-white">
<h1>DASHBOARD</h1>
{% available_categories as categories %}
{% if categories %}
  <!--div class="panel panel__compact panel__bg panel__last" -->
    <div class="dashbpard-panel">
      <div>
        <h3>{% trans "Attend" %} {% conference_name %}</h3>
        <div class="vertical-bigger"></div>
        <div class="btn-group">
          {% if not user.attendee.completed_registration %}
            <a href="{% url "guided_registration" %}" class="btn btn__neut">
              Get your ticket
            </a>
          {% else %}
            <a href="{% url "attendee_edit" %}" class="btn btn__neut">
              Edit attendee profile
            </a>

            {% items_pending as pending %}
            {% if pending %}
              <a href="{% url "checkout" %}" class="btn btn__neut">
                Check out and pay
              </a>
            {% endif %}
          {% endif %}

          {% if user.is_staff %}
            <a class="btn btn__neut" href="{% url "reports_list" %}">Reports</a>
          {% endif %}
        </div>
      </div>
    </div>
  <!--/div-->

  <div class="dashboard-panel">
      {% if not user.attendee.completed_registration %}
        <p>To attend the conference, you must purchase a ticket. <a href="{% url "guided_registration" %}">Use our registration form to purchase your ticket</a>.
        </p>

      {% else %}

        <h3 class="small">Your items</h3>
          {% items_pending as pending %}

          {% if pending %}
            <h4>Items pending payment</h4>
            {% include "registrasion/_items_list.html" with items=pending %}
            <p><a href="{% url "checkout" %}" class="btn btn-xs btn-default">
              <i class="fa fa-credit-card"></i>
              Check out and pay for these items.</a>
            </p>
          {% endif %}

          {% items_purchased as purchased %}
          {% if purchased %}
            <h4>Paid items</h4>
            {% include "registrasion/_items_list.html" with items=purchased %}
          {% endif %}

          <h4>Add/Update items</h4>
          {% include "registrasion/_category_list.html" with categories=categories %}

        {% invoices as invoices %}
        {% if invoices %}
          <h4>Invoices</h4>
          <ul>
            {% for invoice in invoices %}
              {% if invoice.is_void %}
                <li class="void-invoice" style="display: none;">
              {% else %}
                <li>
              {% endif %}
                <a href="{% url "invoice" invoice.id %}" >Invoice {{ invoice.id }}</a>
                - ${{ invoice.value }} ({{ invoice.get_status_display }})
              </li>
            {% endfor %}
          </ul>
          <p>
            <button class="btn" id="toggle-void-invoices" href="" onclick="toggleVoidInvoices();">Show void invoices</button>
          </p>
        {% endif %}

        {% available_credit as credit %}
        {% if credit %}
          <p>You have ${{ credit }} leftover from refunded invoices. This credit will be automatically applied to new invoices. Contact the conference organisers to
          for a refund to your original payment source.</p>
        {% endif %}
      <p></p>
      {% endif %}
  </div>

{% endif %}

    <div class="dashboard-panel">
      <div class="panel--2-3">
        <h3>{% trans "Speaking and Miniconfs" %}</h3>
        <br />
        <div class="btn-group">
          {% if not user.speaker_profile %}
            <a href="{% url "speaker_create" %}" class="btn btn__neut">
            Create profile
            </a>
          {% else %}
            <a href="{% url "speaker_edit" %}" class="btn btn__neut">
              Edit profile
            </a>
            <a href="{% url "proposal_submit" %}" class="btn btn__neut">
              New proposal
            </a>
          {% endif %}
        </div>
      </div>
  </div>

  <div class="dashboard-panel">

      {% if not user.speaker_profile %}
        <p>To submit a proposal, you must first create a speaker profile.</p>
      {% else %}
        <h3>Your Proposals</h3>

        {% if not user.speaker_profile.proposals.exists %}
          <p>No proposals submitted yet.</p>
        {% else %}
          <p></p>
        {% endif %}

      {% endif %}

      {% if user.speaker_profile.proposals.exists %}
          {% for proposal in user.speaker_profile.proposals.all %}
            {% include "symposion/proposals/_proposal_row.html" %}
          {% endfor %}
      {% endif %}

      {% if user.speaker_profile %}
          {% associated_proposals as associated_proposals %}
          {% if associated_proposals %}
            <h3 class="small">Proposals you have joined as an additional speaker</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for proposal in associated_proposals %}
                    {% include "symposion/proposals/_proposal_row.html" %}
                {% endfor %}
            </table>
          {% endif %}

          {% pending_proposals as pending_proposals %}
          {% if pending_proposals %}
            <h3 class="small">Proposals you have been invited to join</h3>
              <table>
                <tr>
                  <th>Title</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                {% for proposal in pending_proposals %}
                  {% include "symposion/proposals/_pending_proposal_row.html" %}
                {% endfor %}
              </table>
          {% endif %}
      {% endif %}

</div>

{# {% include 'registrasion/dashboard-widget.html' %} #}

{% if review_sections %}

  <div class="dashboard-panel">
        <h3>{% trans "Reviews" %}</h3>

        {% for section in review_sections %}
          <h3 class="small">{{ section }}</h3>
          <ul>
            <li><a href="{% url "review_section" section.section.slug %}">All</a></li>
            <li><a href="{% url "user_reviewed" section.section.slug %}">Reviewed by you</a></li>
            <li><a href="{% url "user_not_reviewed" section.section.slug %}">Not Reviewed by you</a></li>
          </ul>
        {% endfor %}

    </div>

{% endif %}


{% available_teams as available_teams %}
{% if user.memberships.exists or available_teams %}
  <div class="dashboard-panel">
      <h3>{% trans "Teams" %}</h3>

        {% if user.memberships.exists %}
          <h3 class="small">Your Teams</h3>
          <table>
            {% for membership in user.memberships.all %}
              <tr>
                <td>
                  <a href="{% url "team_detail" membership.team.slug %}">{{ membership.team.name }}</a>
                  {% if membership.team.description %}<br>{{ membership.team.description }}{% endif %}
                </td>
                <td>
                  <span class="{% if membership.state == 'invited' %} label-info{% endif %}">{{ membership.get_state_display }}</span>
                </td>
                <td>
                  {% if membership.state == "manager" or user.is_staff %}
                    {% if membership.team.applicants %}{{ membership.team.applicants.count }} applicant{{ membership.team.applicants.count|pluralize }}{% endif %}
                      {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>

        {% endif %}


        {% if available_teams %}
          <h3 class="small">Available Teams</h3>
          <table class="table table-striped">
            {% for team in available_teams %}
              <tr>              <td>
                  <a href="{% url "team_detail" team.slug %}">{{ team }}</a>
                  {% if team.description %}<br>{{ team.description }}{% endif %}
                </td>              <td>
                   <span class="label label-default">{{ team.get_access_display }}</span>
                </td>
              </tr>
            {% endfor %}
           </table>
        {% endif %}

    </div>
{% endif %}
</div>

{% endblock %} <!-- block content -->

{% block scripts_extra %}
  <script type="text/javascript">
    function _toggleVoidInvoices() {
      var visible = false;
      function toggleVoidInvoices() {
        $btn = $("#toggle-void-invoices");
        $invoices = $(".void-invoice")

        if (visible) {
          $invoices.hide();
          btnText = "Show void invoices";
        } else {
          $invoices.show();
          btnText = "Hide void invoices";
        }
        $btn.text(btnText);
        visible = !visible;
        return true;
      }
      return toggleVoidInvoices;
    }
    var toggleVoidInvoices = _toggleVoidInvoices();
    _toggleVoidInvoices() = undefined;
  </script>
{% endblock %}  <!-- scripts_extra -->
