{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyCon Australia 2017 - Melbourne</title>

    <link rel="icon" type="image/png" href="http://2017.pycon-au.org/favicon.png">
    <link href="{% static 'pyconau2017/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'pyconau2017/css/pyconau.css' %}" rel="stylesheet">

    <!-- Taken from site_base.html will need fixing -->
    <link rel="icon" href="{% static 'pyconau2017/images/favicon.ico' %}"
        <!--Meta tags-->
    <meta name="theme-color" content="#0c486c">
    <!--Twitter-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pyconau2017">
    <meta name="twitter:title" content="Pycon AU – 3 - 8 2017 – Melbourne, Victoria"
    <meta name="twitter:description"content="Discover Python at Pycon AU, Melbourne 3-8 August 2017.">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'pyconau2017/images/socmed/twitter-tuz.png' %}">
    <meta name="twitter:image:alt" content="Tuz">
    <!--Open Graph-->
    <meta property="og:url" content="https://2017.pycon-au.org/">
    <meta property="og:title" content="Pycon AU – 3 - 8 2017 – Melbourne, Victoria">
    <meta property="og:description" content="Discover Python at Pycon AU 2017. Tickets on sale from February.">
    <meta property="og:type" content="website">
    <meta property="fb:admins" content="729577430">
    <meta property="fb:profile_id" content="293907417664731">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-image: url({% static 'pyconau2017/images/pyconau-2016-collage.jpg' %});">
   <div class="container vertical-center">
    <div class="row">
      <div class="col-md-6">
        <div id="announcements">
          <h2>Announcements</h2>
          <p><b>8 November 2016: Call for Special Events.</b>
We are calling for expressions of interest in running a specialist event:
<ul>
<li>Up to 4 Specialist Day tracks held on Friday 4 August (e.g. DjangoCon AU, Python in Education seminar)</li>
<li>Workshops running in parallel with the sprints (e.g. DjangoGirls, Young Coders)</li>
<li>Associated events run independently, but taking advantage of the presence of a large contingent of Pythonistas in Melbourne (e.g. Software Carpentry workshops)</li>
<li>Icebreaker events for the opening evening or social events during the sprints</li>
</ul>
For more information grab our <a href="special-events-2017.pdf">Call for Special Events document</a>.
            </p>
<!--          <p><b>8 November 2016: Seeking launch sponsors.</b> It's definitely early days still, but we're seeking launch sponsors (those
lucky companies whose name appears on the website from the moment we launch
our CFP) for PyCon Australia 2017, which is being held in Melbourne in
August.
</p><p>
Sponsorship packages are available to suit a range of budgets, from indie
startup to enterprise.Sponsoring PyCon Australia allows companies to boost
their exposure to top tier tech talent and support the local developer
community. All packages include complimentary professional-level tickets so
that your staff can benefit from the conference too!
</p><p>
If you're not in a position to commit to sponsorship, we're also happy to
get early expressions of interest, so that we can contact you again in the
next few months.
            </p>
-->
          </div>
        </div>
      <div class="col-md-2">
        </div>
      <div class="col-md-4">
        <div class="jumbotron text-center">
          <img class="img-responsive" src="{% static 'pyconau2017/images/logo-mel.png' %}">
          <h1>PyCon Australia 2017<br>Melbourne</h1>
          <p>August 3-8, 2017</p>
          <p><a href="https://goo.gl/maps/qV4FRgZFjCy" target="blank">Melbourne Convention Centre
            <span class="glyphicon glyphicon-new-window"></span>
          </a></p>
          <p><a href="http://lists.linux.org.au/mailman/listinfo/pycon-au-announce" target="blank">Announcements Mailing List
            <span class="glyphicon glyphicon-new-window"></span></a></p>
<!--
<p><a href="http://2017.pycon-au.org/sponsor-prospectus-2017.pdf" target="blank">Sponsor Prospectus <span class="glyphicon glyphicon-download-alt"></span></a></p>
-->
          </div>
         </div>
        </div>
       </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'pyconau2017/js/bootstrap.js' %}"></script>


</body></html>
