<!-- site_base_wagtail.html -->
{% extends "site_base.html" %}
{% load staticfiles %}
{% block extra_style %}{% endblock %}

{% comment %}
{% block body_base %}
    {% include "_messages.html" %}

    <!-- site_base_wagtail.html block body -->
    {% block body %}
      <!-- begin content -->
      {% block content %}
      {% endblock %}
      <!-- end content -->
    {% endblock %}
    <!-- site_base_wagtail.html enblock body -->
{% endblock %}
{% endcomment %}

{% block scripts %}
  {% block scripts_extra %}
  {% endblock %}

<!-- end site_base_wagtail.html -->
{% endblock %}
