{% load sitetree %}
<nav role="navigation" class="l-header--links">
    {% for item in sitetree_items %}
    <!-- FIXME: NEeds a dropdown mechanism -->
    <a href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}" {% if item.has_children %}class="l-header--nav dropdown-toggle {% if item.is_current or item.in_current_branch %}active{% endif %}" data-toggle="dropdown" {% else %}class="l-header--nav {% if item.is_current or item.in_current_branch %}active{% endif %}"{% endif %}>{{ item.title_resolved }}</a>
<!--    {% if item.has_children %}
        {% sitetree_children of item for menu template "sitetree_header_dropdown.html" %}
    {% endif %} -->
    {% endfor %}
</nav>
