<!-- site_base.html -->
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{# <!-- https://gist.github.com/geedmo/5682742--> #}
<!DOCTYPE html>
<html lang="en" class="no-js" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <!-- Site ownership verification tag.  Just leave it here, ok? -->
    <meta name="google-site-verification" content="Wa7siVCSsNm_uH3oOLDEPuzk8BIgqwa8ygLXfZkmQMo" />

    {% block viewport %}
      <!-- meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" -->
    {% endblock %}
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

    {% block styles %}
      <link href="{% static 'pyconau2017/css/bootstrap.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'pyconau2017/css/app.css' %}">
      <link rel="stylesheet" href="{% static 'pyconau2017/css/print.css' %}" media="print">
      <link href="{% static 'pyconau2017/css/pyconau.css' %}" rel="stylesheet">
      <!-- link href="{% static 'pyconau2017/css/pyconau2016.css' %}" rel="stylesheet" -->

      <link rel="icon" href="{% static 'pyconau2017/images/favicon.png' %}">

      <!--Meta tags-->
      <meta name="theme-color" content="#0c486c">
    {% endblock %}

    <!--Twitter-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pyconau2017">
    <meta name="twitter:title" content="Pycon AU – 3 - 8 2017 – Melbourne, Victoria">
    <meta name="twitter:description" content="Discover Python at PyCon Australia 2017. Tickets on sale from May 2017.">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'pyconau2017/images/logo-mel.png' %}">
    <meta name="twitter:image:alt" content="Tuz">
    <!--Open Graph-->
    <meta property="og:url" content="https://2017.pycon-au.org/">
    <meta property="og:title" content="Pycon AU – 3 - 8  2017 – Melbourne, Victoria">
    <meta property="og:description" content="Discover Python at Pycon AU 2017. Tickets on sale from May.">
    <meta property="og:type" content="website">
    <meta property="fb:admins" content="729577430">
    <meta property="fb:profile_id" content="293907417664731">

    <script type="text/javascript" src="{% static 'pyconau2017/js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pyconau2017/js/bootstrap.js' %}"></script>

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}"
      style="background-image: url({% static 'pyconau2017/images/pyconau-2016-collage-faded.jpg' %});">
    {% block topbar_base %}

      {% block nav %}
        {% sitetree_menu from "main" include "trunk" template "sitetree_header.html" %}
           <a href="#" data-menu-opener="" class="l-header--menu-opener"></a>
        {% sitetree_menu from "main" include "trunk" template "sitetree_opener.html" %}
      {% endblock %}

    {% endblock %}

    <!-- site_base block body_base -->
    {% block body_base %}
      <!--div style="height: 100px;" /-->
        <!--main role="main"-->
        <!-- site_base block body -->
        {% block body %}
          <div class="container">
              <div class="row">
                  <div class="col-md-1">
                    {% block body_outer %}
                    {% endblock %}
                  </div>
                  <div class="col-md-10" >
                    {% block content %}
                    {% endblock %}
                  </div>
                  <div class="col-md-1">
                      <div id="sponsors" class="wrapper jumbotron-white">
                          <h4>Sponsors</h4>
                          {% include "symposion/sponsorship/_vertical_by_level.html" %}
                      </div>
                  </div>
              </div>
          </div>
        {% endblock %}
        <!-- site_base endblock body -->
        <!--/main-->
      <!--/div-->
    {% endblock %}
    <!-- site_base endblock body_base -->

    {% block footer_base %}
      <!-- https://gist.github.com/geedmo/5682742-->
      <!-- footer class="l-footer l-footer__alt" -->
        {% block footer %}
        {% endblock %}
      <!-- /footer -->
    {% endblock %}

    {% block scripts %}
      {% block extra_script %}
      {% endblock %}
    {% endblock %}

    {% block extra_body_base %}
      {% block analytics %}
	     {% include "analytics.html" %}
      {% endblock %}

      {% block extra_body %}
      {% endblock %}
    {% endblock %}
  </body>
</html>
<!-- end site_base.html -->
