{% load sitetree %}
<div data-menu class="mobile-menu">
  <ul class="mobile-menu--list">
    {% for item in sitetree_items %}
      <li class="mobile-menu--item mobile-menu--item__primary">
        <a href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}"
          {% if item.has_children %}
            class="l-header--nav dropdown-toggle {% if item.is_current or item.in_current_branch %}active{% endif %}"
            data-toggle="dropdown"
          {% else %}
            class="l-header--nav {% if item.is_current or item.in_current_branch %}active{% endif %}"
          {% endif %}
        >
          {{ item.title_resolved }}
        </a>
      </li>
      {% if item.has_children %}
        {% sitetree_children of item for menu template "sitetree_opener_dropdown.html" %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
