{% extends "pyconau2017/content_page.html" %}
{% load staticfiles %}

{% comment %}
{% block header_background_image %}{% static 'pyconau2017/images/wineglass_bg_optimised.jpg' %}{% endblock %}
{% endcomment %}

{% block header_title %}{% block page_title %}{% endblock %}{% endblock %}
{% block header_inset_image_base %}{% endblock %}

{% block page_content %}
  {% block utility_body_outer %}
        {% block content %}
          <div class="jumbotron-white">
          {% block utility_body %}
          {% endblock %}
          </div>
        {% endblock content %}
  {% endblock %}
{% endblock %}
