{% extends "utility_page.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block page_title %}{% trans "Log in to an existing account" %}{% endblock %}

{% block utility_body %}

  {% if ACCOUNT_OPEN_SIGNUP %}
      <p class="login-signup">
              {% trans "Don't have an account?" %}  <strong><a href="{% urlnext 'account_signup' %}">{% trans "Sign up" %}</a></strong>
      </p>
  {% endif %}

            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                <fieldset>
                  {% include "_form_snippet.html" with form=form %}

                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                  <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
                </fieldset>
            </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
