{% extends "utility_page.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}
{% block page_title %}{% trans "Set your new password" %}{% endblock %}

{% block utility_body %}
            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <legend>{% trans "Set your new password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {% include "_form_snippet.html" with form=form %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
{% endblock %}
