{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}
{% block page_title %}{% trans "Change password" %}{% endblock %}
{% block btn-password %}btn__active{% endblock %}

{% block account_body %}
<div class="dashboard-panel">
            <form method="POST" action="">
                <fieldset>
                    {% csrf_token %}
                    {% include "_form_snippet.html" with form=form %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
</div>
{% endblock %}
