{% extends "utility_page.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}
{% block page_title %}{% trans "Sign up" %}{% endblock %}

{% block utility_body %}
  <p>
    {% trans "Already have an account?" %}  <strong><a href="{% urlnext 'account_login' %}">{% trans "Log in" %}</a></strong>
  </p>
            <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                <fieldset>
                  {% include "_form_snippet.html" with form=form %}
                </fieldset>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
            </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
